*{
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
body{
	margin: 0;
}
#certificate {
  width: 100%;
  height: auto;
  border-image-slice: 42 42 57 42 fill;
  border-image-width: 30px 30px 30px 30px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  padding: 30px;
  background-color: #fff;
}
#certificate .certi-header {
  text-align: center;
  padding: 15px 5px;
  padding-bottom: 0;
}
#certificate .certi-header h1 {
  font-size: 2em;
  font-weight: 700;
}
#certificate .certi-header .date {
  font-size: 1.2em;
  font-weight: 550;
}
#certificate .certi-header hr{
  width:50px;
  margin:5px;
}
#certificate .certi-header .certi-logo {
  padding: 20px;
}
#certificate .certi-header .certi-logo img {
  width: 300px;
  height: auto;
  margin: auto;
}
#certificate .certi-content {
  text-align: center;
}
#certificate .certi-content .grade {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  letter-spacing: 3px;
  font-weight: 700;
  color: #ff4500;
  margin-bottom: 20px;
  margin-top: 0;
}
#certificate .certi-content section {
  font-size: 1.2em;
}
#certificate .certi-content .student-name {
  font-size: 1.6em;
  margin: 0;
  font-weight:500;
}
#certificate .certi-content p {
  font-size: 1.2em;
}
#certificate .certi-content p img {
  width: 300px;
  height: 100px;
  background-color: #333;
  margin: auto;
}
#certificate .certi-content .sub-title {
  font-size: 1.6em;
  font-weight: 700;
}

.certi-signatures{

}
.certi-signatures .sin-signature{
	padding:5px;
}
.certi-signatures .sin-signature .certi-sign{
	padding:20px;
	padding-bottom: 5px;
}
.certi-signatures .sin-signature .certi-sign img{
	width:100%;
}
.certi-signatures .sin-signature .sign-owned-by{
	
}
.certi-signatures .sin-signature .sign-owned-by .sign-owner-designation{
	margin:2px 0;
	font-weight: 700;
}
.certi-signatures .sin-signature .sign-owned-by .sign-owner-name{
	margin:0;
	text-decoration: underline;
}