*{
	box-sizing: border-box;
}

.clearfix{
	clear:both;
}

.no-style{
	list-style: none;
}
.no-margin{
	margin:0;
}
.no-top-margin{
	margin-top: 0;
}
.no-btm-margin{
	margin-bottom: 0;
}
.margin-top-10{
	margin-top: 10px;
}

.white-border{
	border:1px dashed;
	border-color: #fff;
}

.pad-10{
	padding:10px;
}
.pad-20{
	padding: 20px;
}

.no-top-pad{
	padding-top: 0;
}
.no-btm-pad{
	padding-bottom: 0;
}

.lg-icon{
	font-size:2em;
}

.badge-sm{
	color:#fff;
	padding:3px 10px;
	font-size:10px;
	border-radius:5px;
	text-align: center;
}
.red-bg{
	background-color:rgba(219, 100, 100, 1);
}
.green-bg{
	background-color: rgba(100, 219, 139, 0.8);
}
.blue-bg{
	background-color: rgba(100, 161, 219, 0.8);
}
.def-bg{
	background-color:gray;
}

/* 
	Form stylings for User's Profile
*/

.user-profile{
	width:90%;
	margin:auto;
	padding:10px 30px;
	background-color:#fff;
	/*border-radius: 5px;*/
	margin-bottom:40px;
}
.user-profile::after{
	content:'';
	display:block;
	clear:both;
}

.min-heading{
	font-weight: 600;
}

.profile-image{
	width:100%;
	padding:30px;
	border:1px solid #eee;
	background-color:#f9f9f9;
}

.profile-image .img-holder{
	width:70%;
	max-width:250px;
	min-width:150px;
	height:150px;
	background-color:brown;
	margin:auto;
	margin-bottom:10px;
}

.profile-image .img-holder img{
	width:100%;
	height:auto;
}

.label-name{
	font-weight: 600;
}

.gender-border{
	border:1px solid #ddd;
	padding:4px;
	padding-bottom: 0;
	border-radius:3px;
	background-color:#fff;
}

#edit-profile-btn{
	float: right;
	right:0px;
	position: fixed;
	padding:5px 10px;
	background-color: #333;
	color:#fff;
	border-radius: 5px;
	border:none;
}

/*
	Styling for User's Profile
*/
#static-profile ul{
	list-style-type: none;
}
#static-profile ul li{
	border-top:1px solid #eee;
	display: block;
	width:100%;
	padding:10px 20px;
	padding-bottom: 20px;
}
.static-details-title{
	font-weight:600;
}
.static-profile-image-holder{
	background-color:#eee;
	border-radius: 50%;
	overflow:hidden;
}
.static-profile-image-holder img{
	width:100%;
	min-height:200px;
	border-radius: 50%;
}
.static-profile-info{
	border-bottom:1px solid #eee;
	padding:10px 20px;
	padding-top:20px;
}

/*
	Search Page
*/
#search_form{
	width:90%;
	background-color:#fff;
	margin:auto;
	padding:30px;
}
.btn-tags{
	margin-left:10px;
	padding:5px 20px;
	color:#bbb;
	background-color:transparent;
	border:1px solid #bbb;
}
.btn-tags:hover{
	color:#bbb;
}
.btn-tags:focus{
	color:#eee;
}
.active-dark-tag{
	background-color:#637288;
	color:#eee;
}
.date-select{
	border-radius: 2px;
	margin-right:10px;
	padding:7px 15px;
	border:1px solid #ddd;
	outline: none;
}

#search-result{
	border:1px solid #ddd;
	width:90%;
	background-color:#fff;
	margin:auto;
	margin-top:20px;
}
.search-header{
	padding:20px 30px;
	color:#fff;
	background-color:#67778E;
}

#search-result-data{
	background-color:#fff;
	padding:20px 30px;
}
.result-data-style{
	padding:8px 0px;
}
.data-style-bg{
	background-color: #ddd;
	padding:12px 15px;
	min-height:200px;
}
.thumbnail-date{
	font-size:11px;
	color:#666;
}
.thumbnail-duration{
	font-size:0.9em;
	color:#666;
	text-align: right;
}
.thumbnail-num-color{
	color:#111;
}
.thumbnail-description{
	height:60px;
	overflow:hidden;
	text-overflow: ellipsis;
	margin-top:30px;
}
.thumbnail-price{
	line-height: 35px;
}
.thumbnail-people{
	color:#666;
	font-size:11px;
}


/*
	Dashboard
*/
.success{
	color:#09a83f;
}
.failed{
	color:#a80920;
}
.pending{
	color:#0aa997;
}

.success-border-top{
	border-top:3px solid #09a83f;
}
.failed-border-top{
	border-top:3px solid #a80920;
}
.pending-border-top{
	border-top:3px solid #0aa997;
}


.dash-comp{
	background-color: #fff;
	padding:10px;
	text-align: center;
}
.txt-left-align{
	text-align: left;
}
.dash-comp-num{
	margin-bottom: 0;
	font-size:2em;
	font-weight:600;
}
.dash-comp-title{
	font-size:1.1em;
	font-weight: 600;
	margin-top:0;
}

/*
	
*/
div.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #ff4500;
  background-color: #fff;
  border-radius: 50%; }
  div.circle:after {
    content: '';
    position: absolute;
    height: 25px;
    top: 13px;
    left: 14px;
    border-left: 1px solid #ccc; }

    @media screen and (max-width: 1200px) {
        div.circle:after {
        	height:1px;
        	width:150px;
        	top:8px;
        	left:20px;
        	border-left:0;
        	border-top:1px solid #ccc;
        }
    }

.side-scroll {
   width: 100%;
   max-height: 310px;
   overflow: auto;
}
.side-scroll::-webkit-scrollbar {
    width: 5px;
}

.side-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.2); 
    border-radius: 10px;
}

.side-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
}

.tbl{
	padding-top:20px;
}
.textarea-contain{
	min-width:100%;
	max-width:100%;
	min-height:150px;
	max-height:300px;
}
