@media (max-width: 1040px) {
	.side-scroll{
		margin-top: 0 !important;
	}
}
@media (min-width: 769px){
	.form-group div[class*="col-lg-"]:not(.control-label) + div[class*="col-lg-"]{
		margin-top:0;
	}
}