*{
	box-sizing: border-box;
}
body{
	padding:0;
	margin:0;
	overflow-x: hidden;
}


/*================== Global Class Components ==================*/
.no-right-padding{
	padding-right: 0;
}
.no-left-padding{
	padding-left: 0;
}
.no-side-padding{
	padding-left: 0;
	padding-right: 0;
}

.no-right-margin{
	margin-right: 0;
}

.textarea{
	width:100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 200px;
}

/*================== HomePage ==================*/

	/*=============== Header ================*/

		/*========== Top Header ==========*/
		.top-header{
			background-color: #444;
			padding:10px 0;
			color:#fff;
		}
		.top-header .logo{
			width:160px;
			min-height:50px;
			background-color:#fff;
		}

		.top-header .form-group{
			margin-top:0px;
			margin-bottom: 0;
		}

		.top-header .input-group-text i{
			font-size: 1.8em !important;
		}
		
		.top-header form label{
			font-size: 11px;
			margin-bottom:0;
			color:#eed;
		}
		.top-header form input{
			background-color: transparent !important;
			border:none;
			border-bottom: 1px solid #fff;
			padding:1px 10px;
			border-radius: 0;
			font-size: 12px;
			color:#fff !important;
		}
		.top-header form input:focus{
			border:none !important;
			border-bottom: 1px solid #fff !important;
			box-shadow: none !important;
			outline-offset: 0px !important;
			outline: none !important;
		}
		.top-header .input-group-text{
			border:none;
			border-bottom: 1px solid #fff;
			color:#eed;
			padding:2px !important;
			border-radius: 0;
			background-color: transparent;
		}
		.top-header .header-log-btn{
			font-size:13px;
			margin-top: 25px;
		}
		.top-header .header-sign-up{
			color:#eef;
			font-size:35px;
		}
		.top-header .header-sign-up i{
			margin-top: 0;
		}
		/*========== End Of Top Header ==========*/

		/*========== Nav Header =================*/
		
		.nav-header{
			background-color: #7f7f7f;
			position: relative;
		}
		.flex-nav{
			display: flex;
			width: 100%;
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
		}
		.flex-nav li{
			flex:1;
			text-align: center;
			padding:10px;
			border-left:1px solid #f7f7f7;
			font-size: 13px;
		}
		.flex-nav li:last-child{
			border-right: 1px solid #f7f7f7;
		}
		.flex-nav li>a{
			color:#eee;
			font-weight: 600;
		}

		/*========== End of Nav Header ==========*/

	/*=========== Homepage Body ==============*/

	#homepage-body{
		
	}

		/*=========== Banner ==============*/
		
			.banner{
				background-color: #efefef;
				padding:20px 0;
			}
			.banner .banner-sidebar{
				width:100%;
				background-color:#fff; 
			}
			.banner .banner-sidebar ul{
				margin-top: 25px;
				list-style: none;
				margin-bottom: 0;
				padding-left: 0;
				border:1px solid #ccc;
			}
			.banner .banner-sidebar ul li{
				padding:10px 20px;
				border-bottom:1px solid #ccc;
				font-size: 13px;
			}
			.banner .banner-sidebar ul li>.fa{
				color:#ccc;
			}

			.banner-img{
				width:100%;
				height:260px;
				background-color:#fff;
			}

			.sidebar-txt{
				margin-left: 10px;
				font-size: 14px;
				font-weight: 550;
			}

		/*======== END Banner =============*/

		/*============ Services ===========*/

			.services{
				padding:40px 0;
				background-color:#fdfaef;
			}

			.services-title{
				font-size: 20px;
				text-align: center;
				margin-bottom: 20px; 
			}

			.services ul{
				list-style:none;
			}

			.service-container{
				width:130px;
				height:125px;
				border-radius:50%;
				border:4px solid #ccc;
				margin:auto;
			}

			.dashed-after::after{
				content: '';
				display: block;
				position: absolute;
				width:255px;
				height:0px;
				border:2px dashed #ccc;
				top:35%;
				left: 67%;
				transform: translateY(-50%);
			}

			.service-container .service-i{
				text-align: center;
				margin-top: 50%;
				transform: translateY(-50%);
				font-size: 3.5em;
			}

			.service-info {
				margin-top:10px;
				font-size: 13px;
				font-weight: 650;
				
			}

			.service-info .sm-1{
				font-size: 12px;
			}

		/*========= END Services ==========*/

		/*========== Advantages ===========*/

			#advantages{
				padding:70px 0;
				padding-top: 50px;
				background-color:#fdfaef;
			}

			.adv-section-title{
				margin-bottom: 30px;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 400;
			}

			#advantages .advantage-block{
			}

			#advantages .advantage-block .advantage-i{
				width:200px;
				height:200px;
				border-radius: 50%;
				margin-left: 50%;
				transform: translateX(-50%);
				
				font-size: 12em;
				background-color: #fff;
			}

			#advantages .advantage-block .advantage-i i{
				width:90%;
				margin-top: 50%;
				transform: translateY(-50%);
			}

			#advantages .advantage-block .advantage-i img{
				width:70%;
				margin-top: 50%;
				margin-left: 50%;
				transform: translate(-50%, -50%);
			}

			#advantages .advantage-block .advantage-title{
				font-size:15px;
				text-align: center;
				font-weight: 650;
				margin-top: 20px;
			}

			#advantages .advantage-block .advantage-para{
				font-size: 13px;
				font-weight: 600;
				text-align: center;
			}

		/*========== END Advantages =======*/

		/*====== Homepage Subjects ========*/

			#hp-subjects{
				width:100%;
				padding:40px 0;
			}

			#hp-subjects .hp-subject-block{
				width:200px;
				border:2px solid #eee;
			}

			#hp-subjects .hp-subject-block .hp-subject-img img{
				width:100%;
				height:auto;
			}

			#hp-subjects .hp-subject-block .hp-subject-info{
				width:196px;
				border:2px solid #333;
				background-color:#444;
				padding:10px;
				text-align: center;
				color:#fff;
			}



		/*===== END Homepage Subjects =====*/

	/*======= End of Homepage Body ===========*/

	/*=============== Footer =================*/

		footer{
			padding:30px 0px;
			background-color: #333;
			color:#fff;
		}

		footer .footer-logo{
			width:100%;
			max-width: 150px;
			height:60px;
			background-color:#fff;
		}

		footer .footer-description{
			font-size: 13px;
			margin-top:5px;
		}

		footer .footer-social-links{

		}

		footer .footer-social-links ul{
			list-style: none;
			padding-left: 0;
		}

		footer .footer-social-links ul li{
			display: inline-block;
			margin-right:10px;
		}

		.fb-color{
			/*color:#3B5998;*/
			color:#d9e5ff;
		}
		.tw-color{
			color:#1DA1F2;
		}
		.gm-color{
			color:#DB4437;
		}

		footer .footer-social-links ul li a{
			font-size:2.5em;
		}

		footer .quick-links{

		}

		footer .quick-links ul{
			list-style: none;
		}

		footer .quick-links ul li a{
			color:#e7e7e7;
			font-size: 13px;
		}

		footer .footer-contact{

		}

		footer .footer-contact ul{
			list-style: none;
		}

		footer .footer-contact ul li{
			
		}
		
		footer .footer-contact-info, a{
			color:#eee;
			font-size: 13px;
		}

		footer .footer-contact ul li i{
			font-size: 1.8em;
		}

	/*============ END Footer ================*/

/*============== END Homepage ===================*/


/*=============== Contact Us ====================*/

	.contact-page-title{
		padding:20px 0;
	}

	.contact-form{
		background-color: #e7e7e7;
		padding: 20px;
		margin-bottom: 40px;
	}

	.contact-details{
		padding: 20px;
		background-color: #e6e6e6;
	}

	.contact-details ul{
		list-style: none;
		font-size: 13px;
	}

	.contact-details .contact-detail-icon ul li{
		display: inline-block;
	}

	.contact-form textarea{
		min-width: 100%;
		max-width: 100%;
		min-height:180px;
		max-height:180px;
	}

	.contact-details .contact-detail-info a{
		color:#333;
		font-size: 11px;
	}

	.contact-details .contact-detail-icon ul li i{
		font-size:15px;
		margin-right:10px;
	}
	.contact-details .contact-detail-info{
		margin-left: 25px;
		font-size: 11px;
	}

/*============ END Contact Us ===================*/

/*================= About Us ====================*/

	.about-page-title{
		padding: 30px 0;
		text-align: center;
	}

	.about-page-details{
		margin-bottom: 30px;
	}

	.about-page-img{
		width:100%;
		height:300px;
		background-color:#eee;
	}

	.about-page-info{
		font-size: 12px;
	}

/*=============== END About Us ==================*/

/*================= Support =====================*/

	.support-block{
		width:100%;
		background-image:url('https://sovos.com/wp-content/uploads/2018/04/inv-roi-blogSovos-Blog.png');
	}

	.support-block-bg{
		background-color:#00ffb87a;
	}

	.support-block-contain{
		max-width: 600px;
		width:100%;
		padding:90px 20px;
		margin: auto;
		text-align: center;
	}

	.support-faq{

	}
	.support-faq ul{
		list-style: none;
		padding-left: 15px;
		margin: 0;
	}

	.support-faq ul li{
		padding:5px 0;
	}
	.support-faq ul li a{
		color:#666;
		font-weight: 550;
	}

	.support-create_ticket{
		padding:20px 0;
		background-color: #9a9e9d;
	}
	.support-footer-left{

	}
	.support-footer-left-info{
		padding:15px 0 ;
		padding-left: 20px;
	}

/*================ END Support ==================*/

/*================== FAQ ========================*/

	#faq h2{
		color:blue;
		font-weight: 700;
	}
	#faq ul{
		list-style: none;
		padding-left:15px;
	}
	#faq ul li{
		padding:10px 5px;
		border-bottom: 1px solid #e7e7e7;
	}
	#faq ul li a{
		color:#546c6a;
		font-weight:600;
	}

	.faq-header{
		padding:40px 0;
		padding-bottom: 0;
	}
	.faq-search{
		max-width: 300px;
		width:90%;
		float: right;
	}

	.faq-pad{
		padding: 40px 0;
	}

/*================= END FAQ =====================*/

/*================ Single FAQ ===================*/
	.active-sidebar-faq{
		background-color: blue;
		color:#f6f6f6;
	}
	.single-faq-sidebar{

	}
	.single-faq-sidebar .faq-sidebar-container{

	}
	.single-faq-sidebar .single-faq-sidebar-title{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.single-faq-sidebar .faq-sidebar-container ul{
		list-style: none;
		padding-left: 0;
	}
	.single-faq-sidebar .faq-sidebar-container ul li{
		padding:7px 10px;
		margin-top:5px;
	}
	.single-faq-sidebar .faq-sidebar-container ul li a{
		color:#444;
	}
	
	.single-faq-sidebar .faq-sidebar-container ul li:hover{
		background-color: blue;
	}
	.single-faq-sidebar .faq-sidebar-container ul li:hover a{
		color:#f6f6f6;
	}


	.single-faq-question{

	}

	.single-faq-question .single-faq-question-title{
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.single-faq-question .single-faq-answer{

	}
	.single-faq-question .single-faq-answer p{
		font-size: 14px;
	}

/*=============== END Single FAQ ================*/

/*================== Search ====================*/

	.search-contain{
		padding: 20px 15px;
	}

	.search-item{
		border:2px solid #e7e7e7;
		border-left: none;
		border-right: none;
		padding:15px 5px;
	}
	.search-item a{
		color:#777;
	}
	.search-item a:hover{
		text-decoration: none;
		color:#000;
	}
	.search-title{
		
	}
	.search-desc{

	}

/*=============== END Search ===================*/