.notice{
    overflow:hidden;
    width:100%;
    margin:auto;
    border-radius:10px;
    min-height:200px;
    background-color:#f9f9f9;
    padding:10px;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.4);
    box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.4);
}
.notice .notice-header{
    position: relative;
    width:100%;
    padding:10px;
}
.notice .notice-header .notice-img{
    width:100%;
    background-color:#ccc;
    margin:auto;
    padding:5px;
    font-size:2.5em;
    text-align:center;
}
.notice .notice-header .notice-img img{
    width:100%;
}

.notice .notice-body{
    width:100%;
    padding:10px;
    padding-top:0;
}
.notice .notice-body .notice-title{
    min-height:25px;
    margin-bottom:0;
}
.notice .notice-body .notice-title h3{
    margin-top: 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size:1.5em;
    color:#1c9e99;
}
.notice .notice-body .notice-info{
  
}
.notice .notice-body .notice-info p{
    width:100%;
    margin: 0;
    font-size: 1em;
}
.notice .notice-body .notice-info p .space{
    padding-left: 35px;
}

.notice .notice-header .close-btn{
    opacity: 0.9;
    position: absolute;
    border:none;
    font-weight:700;
    right: 10px;
    cursor:pointer;
    font-size:1.3em;
}
.notice .notice-header .close-btn:hover{
    opacity: 1;
}
.notice-slide{
    width:40px;
    padding:0;
    margin:auto;
}
.notice-slide li{
    display:inline-block;
    background-color:#666;
    padding:5px;
    border-radius:50%;
}
#notice-modal{
    position: absolute;
    top: 0;
    background-color: transparent !important;
    border:none;
    box-shadow: none;
    overflow:hidden;
}
.carousel-indicators{
    bottom:-30px;
}

.organizer-date{
    margin-top:5px;
}
.notice-info p{
    font-weight: 500;
}
.organizer-name{
    text-align: left;
    font-size:0.9em;
    margin:0;
    color:#9aa5b2;
    font-weight: 600;
    letter-spacing: 1px;
}
.notice-date{
    text-align:right; 
    font-size: 0.9em;
    margin:0;
    color: #9aa5b2;
    font-weight: 600;
    letter-spacing: 1px;
}